
%tr
  %th{colspan: 7}
    %h4= table_header
%tr
  %th Details
  %th
    %a{:href => "/length/#{params[:length]}/days_active"}Days
  %th
    %a{:href => "/length/#{params[:length]}/year"}Year
  %th MakeModel
  %th
    %a{:href => "/length/#{params[:length]}/price"}Price
  %th Location
  %th Title